{# Единый bottom-nav для всех страниц кроме Двора. Двор (/) рендерит свой с active. #}
<nav class="bottom-nav">
    <a href="/" class="nav-item{% if nav == 'dvor' %} active{% endif %}">🏠<br><span>ДВОР</span></a>
    <a href="/quests" class="nav-item{% if nav == 'quests' %} active{% endif %}">📜<br><span>ЗАДАНИЯ</span></a>
    <a href="/bosses" class="nav-item{% if nav == 'bosses' %} active{% endif %}">🥊<br><span>БОССЫ</span></a>
    <a href="/clan" class="nav-item{% if nav == 'clan' %} active{% endif %}">👥<br><span>БРАТВА</span></a>
</nav>
